/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* UTILITIES */
.page-1 {
    background: red;
    height: 100vh;
    position: relative;
}
.page-2 {
    background:green;
    height: 100vh;
}.page-3 {
    background:yellow;
    height: 100vh;
}

/* SECTION */

 .contain {
     position: absolute;
     width: 100%;
    
    

}
.contain img{
    width: 570px;
   
    display: block;
    
}
 .contain h1 {
     
     display: block;
    font-size: 50px;
    top: 62%;
    left: 50%;
    transform: translate(-50%);
    color: yellow;
    
    font-family: 'Bungee', cursive;
    
}
/* NAVIGATION */
.navigation {
    position: fixed;
    
    top: 50%;
    right: 30px;
}